$color-white: #FFFFFF;
$color-black: #000000;
$color-azalea: #F7C9C9;
$color-thunder: #33272A;
$color-linen: #FAEEE7;
$color-pink: #FA709A;
$color-black-white: #FFFEF7;
$color-from-red-to-green: linear-gradient(90deg, rgba(255, 38, 0, 1) 22%, rgba(247, 197, 68, 1) 48%, rgba(255, 240, 75, 1) 70%, rgba(1, 198, 0, 1) 100%);
$color-from-red-to-yellow: linear-gradient(90deg, rgba(255, 38, 0, 1) 22%, rgba(247, 197, 68, 1) 52%, rgba(255, 234, 0, 1) 95%);

$font-regular: 'DM Sans Regular';
$font-bold: 'DM Sans Bold';