.header {
  padding: 1rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  background: $color-azalea;
  top: 0;

  &__logo-img {
    width: 50px;
    height: 50px;
  }

  &__nav-toggle {
    cursor: pointer;
    height: 30px;
    width: 30px;
    overflow: visible;
    position: fixed;
    z-index: 2;

    @include respond-to(tablet-portrait) {
      display: none;
    }
  }

  &__nav-toggle span,
  &__nav-toggle span:before,
  &__nav-toggle span:after {
    background: $color-thunder;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  &__nav-toggle span:before,
  &__nav-toggle span:after {
    content: "";
  }

  &__nav-toggle span {
    width: 30px;

    &:before {
      left: 0;
      top: -10px;
      width: 30px;
    }

    &:after {
      left: 0;
      top: 10px;
      width: 30px;
    }
  }

  &__nav-toggle.close span {
    color: $color-linen;
    transform: rotate(-45deg);
    width: 30px;

    &:before {
      top: 0;
      transform: rotate(90deg);
      width: 30px;
    }

    &:after {
      top: 0;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
    }
  }

  &__nav {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 30px;
    transition: all 0.3s ease-in-out;

    @include respond-to(tablet-portrait) {
      position: absolute;
      left: 0;
      min-height: 12%;
      opacity: 1;
      visibility: visible;
    }
  }

  &__nav.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 300px;
    background: rgba(239, 228, 225, 0.95);
  }

  &__nav-list {
    @include respond-to(tablet-portrait) {
      display: flex;
      justify-content: space-between;
      flex-basis: 50%;
      max-width: 50%;
      margin: 0 55px;
    }

    @include respond-to(tablet-landscape) {
      display: flex;
      justify-content: space-between;
      flex-basis: 60%;
      max-width: 60%;
      margin: 0 62px;
    }

    @include respond-to(desktop) {
      flex-basis: 40%;
      max-width: 40%;
      margin: 0 85px;
    }
  }

  &__nav-item {
    color: $color-thunder;

    @include respond-to(phone-only) {
      text-transform: uppercase;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-azalea;
      }
    }
  }

  &__nav-link {
    color: $color-thunder;
    display: block;
    font-size: 20px;
    text-decoration: none;

    &:hover {
      border-bottom: 3px solid $color-linen;
    }

    @include respond-to(phone-only) {
      padding: 8px 0;
    }
  }
}